/*************************************************************************
 * cssbase_pc.css
 *  PC版のサイズ、レイアウトの設定
 *************************************************************************/
/* ====================================================
 * ELEMENT
 * ===================================================*/
html{
  height:90%;
  display:block;
}
body{
  font-size: 14pt;
  min-width:480px;
  max-width:1024px;
  min-height:680px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  padding-top:2%;
  padding-bottom:2%;
}
input{
  min-height:20px;
  min-width:62%;
}
textarea{
  min-width:65%;
}
/* ====================================================
 * Font
 * ===================================================*/
.siteTitleSize{
  font-size:46pt;
}
.titleSize{
  font-size:20pt;
}
.subtitleSize{ 
  font-size:22pt;
}
input, select, textarea{
  font-size:14pt;
}
.siteTitle{
  font-weight:500;
  text-align:center;
  height:150px;
}
/* ====================================================
 * Layout
 * ===================================================*/
.leftPanel, .rightPanel{
  width:10%;
}
.mainPanel{
  width:75%;
  min-height:100%;
}
.title{
  margin-top: 10px;
  margin-bottom: 10px;
}
div.subArea span {
  margin-left:30px;
}
/* ====================================================
 * component
 * ===================================================*/
input#portText {
  min-width:48px;
  max-width:48px;
}
textarea#toAddrsText {
  height:60px;
}
textarea#messageText {
  min-height:280px;
}
input[type="submit"]{
  text-align:center;
  min-width:100px;
  max-width:100px;
}
#mascotPic{
  background-size:120px 80px;
}
